<h2>Credits</h2>

<ul>
  <li>Created my free logo at <a href="https://logomakr.com" target="_blank">LogoMakr.com</a></li>
  <li>Warp Image by <a href="https://www.reddit.com/user/orbojunglist" target="_blank">orbojunglist</a></li>
  <li>Ship Sprites by <a href="http://millionthvector.blogspot.com/" target="_blank">MillionthVector</a></li>
  <li>Asteroid Sprite by <a href="https://opengameart.org/users/funwithpixels" target="_blank">FunWithPixels</a></li>
  <li>Other Space Images by <a href="https://pexels.com" target="_blank">Pexels</a></li>
  <li>Planets by <a href="https://opengameart.org/users/unnamed" target="_blank">Unnamed</a></li>
</ul>

<div class="card black-card mb-3 chat-card">
  <h5 class="card-header">
    Impressum
    <div class="float-right">
      <a data-toggle="collapse" data-target="#collapse-impressum" href="#0">
        <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-right"></i></div>
      </a>
    </div>
  </h5>
  <div class="collapse" id="collapse-impressum">
    <div class="card-body">
      <h3>Impressum</h3>

      <h4>Angaben gemäß § 5 TMG</h4>
      <p>Tim Lange<br />
      Kirchstraße, 7<br />
      86415 Mering</p>
      
      <h4>Kontakt</h4>
      <p>E-Mail: tim.lange@titanhq.de</p>
    </div>
  </div>
</div>

<div class="card black-card mb-3 chat-card">
  <h5 class="card-header">
    Privacy Policy
    <div class="float-right">
      <a data-toggle="collapse"  data-target="#collapse-privpol" href="#0">
        <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-right"></i></div>
      </a>
    </div>
  </h5>
  <div class="collapse" id="collapse-privpol">
    <div class="card-body">
      <h1>Privacy Policy</h1>


        <p>Effective date: December 04, 2018</p>
        
        
        <p>Stellar Invictus ("us", "we", or "our") operates the https://stellar-invictus.com website (the "Service").</p>
        
        <p>This page informs you of our policies regarding the collection, use, and disclosure of personal data when you use our Service and the choices you have associated with that data. Our Privacy Policy  for Stellar Invictus is managed through <a href="https://www.freeprivacypolicy.com/free-privacy-policy-generator.php">Free Privacy Policy Website</a>.</p>
        
        <p>We use your data to provide and improve the Service. By using the Service, you agree to the collection and use of information in accordance with this policy. Unless otherwise defined in this Privacy Policy, terms used in this Privacy Policy have the same meanings as in our Terms and Conditions, accessible from https://stellar-invictus.com</p>
        
        <h2>General Data Protection Regulation (GDPR)</h2>
        <p>We are a Data Controller of your information. If you'd like to learn more about GDPR and your rights under GDPR, please read the <a href="https://www.freeprivacypolicy.com/blog/gdpr-privacy-policy/">GDPR guide</a>.</p>
         
        <p>Stellar Invictus legal basis for collecting and using the personal information described in this Privacy Policy depends on the Personal Information we collect and the specific context in which we collect the information:</p>
        <ul>
            <li>Stellar Invictus needs to perform a contract with you</li>
            <li>You have given Stellar Invictus permission to do so</li>
            <li>Processing your personal information is in Stellar Invictus legitimate interests</li>
            <li>Stellar Invictus needs to comply with the law</li>
        </ul>
          
        <p>Stellar Invictus will retain your personal information only for as long as is necessary for the purposes set out in this Privacy Policy. We will retain and use your information to the extent necessary to comply with our legal obligations, resolve disputes, and enforce our policies.</p> 
        
        <p>If you are a resident of the European Economic Area (EEA), you have certain data protection rights. If you wish to be informed what Personal Information we hold about you and if you want it to be removed from our systems, please contact us.</p>
        <p>In certain circumstances, you have the following data protection rights:</p>
        <ul>
            <li>The right to access, update or to delete the information we have on you.</li>
            <li>The right of rectification.</li> 
            <li>The right to object.</li>
            <li>The right of restriction.</li>
            <li>The right to data portability</li>
            <li>The right to withdraw consent</li>
        </ul>
        
        <h2>Information Collection And Use</h2>
        
        <p>We collect several different types of information for various purposes to provide and improve our Service to you.</p>
        
        <h3>Types of Data Collected</h3>
        
        <h4>Log Files</h4>
        
        <p>Stellar Invictus follows a standard procedure of using log files. These files log visitors when they visit websites. All hosting companies do this and a part of hosting services' analytics. The information collected by log files include internet protocol (IP) addresses, browser type, Internet Service Provider (ISP), date and time stamp, referring/exit pages, and possibly the number of clicks. These are not linked to any information that is personally identifiable. The purpose of the information is for analyzing trends, administering the site, tracking users' movement on the website, and gathering demographic information.</p>
        
        <h4>Personal Data</h4>
        
        <p>While using our Service, we may ask you to provide us with certain personally identifiable information that can be used to contact or identify you ("Personal Data"). Personally identifiable information may include, but is not limited to:</p>
        
        <ul>
        <li>Email address</li><li>Cookies and Usage Data</li>
        </ul>
        
        <h4>Usage Data</h4>
        
        <p>We may also collect information how the Service is accessed and used ("Usage Data"). This Usage Data may include information such as your computer's Internet Protocol address (e.g. IP address), browser type, browser version, the pages of our Service that you visit, the time and date of your visit, the time spent on those pages, unique device identifiers and other diagnostic data.</p>
        
        <h4>Tracking & Cookies Data</h4>
        <p>We use cookies and similar tracking technologies to track the activity on our Service and hold certain information.</p>
        <p>Cookies are files with small amount of data which may include an anonymous unique identifier. Cookies are sent to your browser from a website and stored on your device. Tracking technologies also used are beacons, tags, and scripts to collect and track information and to improve and analyze our Service.</p>
        <p>You can instruct your browser to refuse all cookies or to indicate when a cookie is being sent. However, if you do not accept cookies, you may not be able to use some portions of our Service.</p>
        <p>Examples of Cookies we use:</p>
        <ul>
            <li><strong>Session Cookies.</strong> We use Session Cookies to operate our Service.</li>
            <li><strong>Preference Cookies.</strong> We use Preference Cookies to remember your preferences and various settings.</li>
            <li><strong>Security Cookies.</strong> We use Security Cookies for security purposes.</li>
        </ul>
        
        <h2>Use of Data</h2>
            
        <p>Stellar Invictus uses the collected data for various purposes:</p>    
        <ul>
            <li>To provide and maintain the Service</li>
            <li>To notify you about changes to our Service</li>
            <li>To allow you to participate in interactive features of our Service when you choose to do so</li>
            <li>To provide customer care and support</li>
            <li>To provide analysis or valuable information so that we can improve the Service</li>
            <li>To monitor the usage of the Service</li>
            <li>To detect, prevent and address technical issues</li>
        </ul>
        
        <h2>Transfer Of Data</h2>
        <p>Your information, including Personal Data, may be transferred to — and maintained on — computers located outside of your state, province, country or other governmental jurisdiction where the data protection laws may differ than those from your jurisdiction.</p>
        <p>If you are located outside Germany and choose to provide information to us, please note that we transfer the data, including Personal Data, to Germany and process it there.</p>
        <p>Your consent to this Privacy Policy followed by your submission of such information represents your agreement to that transfer.</p>
        <p>Stellar Invictus will take all steps reasonably necessary to ensure that your data is treated securely and in accordance with this Privacy Policy and no transfer of your Personal Data will take place to an organization or a country unless there are adequate controls in place including the security of your data and other personal information.</p>
        
        <h2>Disclosure Of Data</h2>
        
        <h3>Legal Requirements</h3>
        <p>Stellar Invictus may disclose your Personal Data in the good faith belief that such action is necessary to:</p>
        <ul>
            <li>To comply with a legal obligation</li>
            <li>To protect and defend the rights or property of Stellar Invictus</li>
            <li>To prevent or investigate possible wrongdoing in connection with the Service</li>
            <li>To protect the personal safety of users of the Service or the public</li>
            <li>To protect against legal liability</li>
        </ul>
        
        <h2>Security Of Data</h2>
        <p>The security of your data is important to us, but remember that no method of transmission over the Internet, or method of electronic storage is 100% secure. While we strive to use commercially acceptable means to protect your Personal Data, we cannot guarantee its absolute security.</p>
        
        <h2>Service Providers</h2>
        <p>We may employ third party companies and individuals to facilitate our Service ("Service Providers"), to provide the Service on our behalf, to perform Service-related services or to assist us in analyzing how our Service is used.</p>
        <p>These third parties have access to your Personal Data only to perform these tasks on our behalf and are obligated not to disclose or use it for any other purpose.</p>
        
        <h3>Analytics</h3>
        <p>We may use third-party Service Providers to monitor and analyze the use of our Service.</p>    
        <ul>
                <li>
                <p><strong>Google Analytics</strong></p>
                <p>Google Analytics is a web analytics service offered by Google that tracks and reports website traffic. Google uses the data collected to track and monitor the use of our Service. This data is shared with other Google services. Google may use the collected data to contextualize and personalize the ads of its own advertising network.</p>
                <p>You can opt-out of having made your activity on the Service available to Google Analytics by installing the Google Analytics opt-out browser add-on. The add-on prevents the Google Analytics JavaScript (ga.js, analytics.js, and dc.js) from sharing information with Google Analytics about visits activity.</p>                <p>For more information on the privacy practices of Google, please visit the Google Privacy & Terms web page: <a href="https://policies.google.com/privacy?hl=en">https://policies.google.com/privacy?hl=en</a></p>
            </li>
                                    </ul>
        
        
        <h2>Links To Other Sites</h2>
        <p>Our Service may contain links to other sites that are not operated by us. If you click on a third party link, you will be directed to that third party's site. We strongly advise you to review the Privacy Policy of every site you visit.</p>
        <p>We have no control over and assume no responsibility for the content, privacy policies or practices of any third party sites or services.</p>
        
        
        <h2>Children's Information</h2>
        <p>Another part of our priority is adding protection for children while using the internet. We encourage parents and guardians to observe, participate in, and/or monitor and guide their online activity.</p>
        <p>Stellar Invictus does not knowingly collect any Personal Identifiable Information from children under the age of 13. If you think that your child provided this kind of information on our website, we strongly encourage you to contact us immediately and we will do our best efforts to promptly remove such information from our records.</p>
        
        
        <h2>Changes To This Privacy Policy</h2>
        <p>We may update our Privacy Policy from time to time. We will notify you of any changes by posting the new Privacy Policy on this page.</p>
        <p>We will let you know via email and/or a prominent notice on our Service, prior to the change becoming effective and update the "effective date" at the top of this Privacy Policy.</p>
        <p>You are advised to review this Privacy Policy periodically for any changes. Changes to this Privacy Policy are effective when they are posted on this page.</p>
        
        
        <h2>Contact Us</h2>
        <p>If you have any questions about this Privacy Policy, please contact us:</p>
        <ul>
        <li>By email: tim.lange@titanhq.de</li>
          
        </ul>
    </div>
  </div>
</div>

<div class="card black-card mb-3 chat-card">
  <h5 class="card-header">
    Terms of Service
    <div class="float-right">
      <a data-toggle="collapse"  data-target="#collapse-tos" href="#0">
        <div class="btn btn-xs btn-outline-primary p-0-5"><i class="fa fa-arrow-right"></i></div>
      </a>
    </div>
  </h5>
  <div class="collapse" id="collapse-tos">
    <div class="card-body">
      <p>
      	As you play Stellar Invictus, you must observe and abide by the rules of conduct and policies outlined below. Failure to comply with these regulations can result in the immediate termination of your account.</p>
      <ol>
      	<li>
      		You may not abuse, harass or threaten another player or admins. This includes, but is not limited to: filing support tickets with false information in an attempt to gain from it or have someone else suffer from it; sending excessive e-mails, Ingame-mails or support tickets; refusal to follow the instructions of an admin; or implying favoritism by an admin.<br />
      		&nbsp;</li>
      	<li>
      		You may not use any abusive, defamatory, ethnically or racially offensive, harassing, harmful, hateful, obscene, offensive, sexually explicit, threatening or vulgar language. (Alternate spelling or partial masking of such words will be reprimanded in the same manner as the actual use of such words.)<br />
      		&nbsp;</li>
      	<li>
      		You may not organize nor be a member of any corporation or group within Stellar Invictus that is based on or advocates any anti-ethnic, anti-gay, anti-religious, racist, sexist or other hate-mongering philosophies<br />
      		&nbsp;</li>
      	<li>
      		You may not use &ldquo;role-playing&rdquo; as an excuse to violate these rules. While Stellar Invictus is a persistent world, fantasy role-playing game, the claim of role-playing is not an acceptable defense for anti-social behavior. Role-playing is encouraged, but not at the expense of other player. You may not create or participate in a corporation or group that habitually violates this policy.<br />
      		&nbsp;</li>
      	<li>
      		You will report out-of-game issues regarding harassment, such as threatening phone calls or correspondence, to your local law enforcement officials or Internet provider. Stellar Invictus will not reveal personal information about its users to unauthorized individuals. We are not responsible for actions taken by our users that occur outside the jurisdiction of our web sites.<br />
      		&nbsp;</li>
      	<li>
      		You will follow the instructions of authorized personnel while using the Stellar Invictus web site.<br />
      		&nbsp;</li>
      	<li>
      		You may not violate any local, state, national or international laws or regulations.<br />
      		&nbsp;</li>
      	<li>
      		You may not impersonate or present yourself to be an admin. You may not impersonate or falsely present yourself to be a representative of another player, group of players, character or NPC entity.<br />
      		&nbsp;</li>
      	<li>
      		You may not advertise, employ, market, or promote any form of solicitation &ndash; including pyramid schemes and chain letters &ndash; on the website.<br />
      		&nbsp;</li>
      	<li>
      		You may not market, sell, advertise, promote, solicit or otherwise arrange for the exchange or transfer of items in the game or other game services unless it is for in-game sales of in-game services or items.<br />
      		&nbsp;</li>
      	<li>
      		The advertisement or sale of out of game goods and services not directly related to Stellar Invictus is prohibited.<br />
      		&nbsp;</li>
      	<li>
      		You may not arrange for the exchange or transfer of any illegal or pirated software or other contraband while you are using the Stellar Invictus website.<br />
      		&nbsp;</li>
      	<li>
      		You may not transmit or upload through the Stellar Invictus website any copyrighted material that you do not own all rights to without the express written permission of the author or copyright holder.<br />
      		&nbsp;</li>
      	<li>
      		You may not create, provide or use any other site where Stellar Invictus may be played. You may not post or distribute software tools or utilities related to Stellar Invictus without the express written permission of a developer.<br />
      		&nbsp;</li>
      	<li>
      		You may not attempt to play Stellar Invictus on any website that is not controlled or authorized by a developer.<br />
      		&nbsp;</li>
      	<li>
      		You may not do anything that interferes with the ability of other players to enjoy the game in accordance with its rules. This includes, but is not limited to, making inappropriate use of any public channels within the game and/or intentionally creating excessive latency (lag) by dumping cargo containers or other items in the game world.<br />
      		&nbsp;</li>
      	<li>
      		You may not engage in any activity that increases the difficulty and/or expense of maintaining the Stellar Invictus website or other services for the benefit and enjoyment of all its users.<br />
      		&nbsp;</li>
      	<li>
      		You may not communicate, post or publicize any player&rsquo;s personal information within the Stellar Invictus website.<br />
      		&nbsp;</li>
      	<li>
      		You will not attempt to decipher, hack into or interfere with any transmissions to or from the Stellar Invictus servers, nor will you try to create or use any third party add-ons, extras or tools for the game without the express written permission of a developer.<br />
      		&nbsp;</li>
      	<li>
      		You may not share your account password with anyone. Infraction of this rule is done at your own risk.<br />
      		&nbsp;</li>
      	<li>
      		You may not exploit any bug in Stellar Invictus to gain an unfair advantage over other players. You may not communicate the existence of any exploitable bug to others directly or through a public forum. Bugs should be reported through the bug reporting tool on our website.<br />
      		&nbsp;</li>
      	<li>
      		You will use the bug reporting tools in accordance with their policy and will not intentionally submit misinformation or hide information required by the bug report forms.<br />
      		&nbsp;</li>
      	<li>
      		The admins reserve the right to close, temporarily or permanently, any user&rsquo;s account without advance notice as we deem necessary. Furthermore, we reserve the right to delete all user accounts or inventory of characters as warranted.<br />
      		&nbsp;</li>
      	<li>
      		We reserve the right to ban any user from the game without refund or compensation.<br />
      		&nbsp;</li>
      	<li>
      		If you are between 13 and 18 years of age, you must have the permission of your parent or guardian to before providing the personal information required to create an Stellar Invictus account.<br />
      		&nbsp;</li>
      	<li>
      		In compliance with The Children&rsquo;s Online Privacy Act of April, 2000, we cannot provide subscriptions to individuals under the age of 13. If you are under the age of 13, you may not create an Stellar Invictus account and you are not eligible to enter contests or promotions.<br />
      		&nbsp;</li>
      	<li>
      		You will not encourage others to break these rules or any rules set forth in relation to Stellar Invictus&rsquo;s web site.<br />
      		&nbsp;</li>
      </ol>
      <p>
      	THE DEVELOPERS MAY FIND IT NECESSARY ON OCCASION TO MAKE CHANGES TO OR RESET CERTAIN PARAMETERS OF THE PERSISTENT GAME WORLD MECHANICS, INTERFACE OR FEATURES OF STELLAR INVICTUS IN ORDER TO MAINTAIN GAME BALANCE AND ENHANCE PLAYABILITY OR PERFORMANCE FOR ITS USERS. THESE CHANGES MAY AFFECT OR CAUSE SETBACKS FOR THE CHARACTER YOU&rsquo;VE CREATED.&nbsp;</p>
      <p>
      	THESE RULES MAY BE REVISED AT ANY TIME. IT IS YOUR RESPONSIBILITY TO REVIEW THEM OCCASIONALLY TO ENSURE THAT YOU ARE IN COMPLIANCE WITH THE RULES, POLICIES AND AGREEMENTS DESIGNATED BY STELLAR INVICTUS.</p>
      <p>
      	BY CREATING AN ACCOUNT WITH STELLAR INVICTUS, YOU ACKNOWLEDGE THAT YOU ARE AT LEAST 18 YEARS OF AGE.</p>
      <p>
      	YOU ACKNOWLEDGE THAT YOU AGREE TO THESE RULES AND WILL ABIDE BY THEM.</p>
      <p>
      	YOU ACKNOWLEDGE THAT TERMINATION OF YOUR ACCOUNT BY THE ADMINS MAY RESULT FROM FAILURE TO ABIDE BY THESE RULES. SUCH TERMINATION WILL NOT ENTITLE YOU TO A REFUND OF ANY FEES PAID BY YOU FOR THE USE OF STELLAR INVICTUS.</p>
      <p>
      	YOU AGREE THAT THESE RULES WILL APPLY TO ANYONE THAT YOU GRANT PERMISSION TO ACCESS YOUR STELLAR INVICTUS ACCOUNT OR USER INFORMATION. YOU AGREE THAT YOU WILL BE HELD PERSONALLY RESPONSIBLE FOR THE CONSEQUENCES (WHICH CAN INCLUDE ACCOUNT TERMINATION) THAT MAY RESULT IF ANY SUCH PERSON BREAKS THE RULES DESCRIBED HEREIN.</p>
      <p>
      	IN ADDITION TO THE FOREGOING, YOU ALSO ACKNOWLEDGE THAT YOU WILL COMPLY WITH THE PRIVACY POLICY. YOU ACKNOWLEDGE THAT FAILURE TO COMPLY WITH THE TERMS SET FORTH CAN RESULT IN THE IMMEDIATE TERMINATION OF YOUR EVE ONLINE SUBSCRIPTION AND THE BENEFITS THEREOF WITH NO REFUNDS.&nbsp;</p>
      <p>
      	REVISED: 7 January, 2019</p>
    </div>
  </div>
</div>