<h2>Credits</h2>

<ul>
    <li>Created my free logo at <a href="https://logomakr.com" target="_blank">LogoMakr.com</a></li>
    <li>Warp Image by <a href="https://www.reddit.com/user/orbojunglist">orbojunglist</a></li>
    <li>Ship Sprites by <a href="http://millionthvector.blogspot.com/">MillionthVector</a></li>
    <li>Asteroid Sprite by <a href="https://opengameart.org/users/funwithpixels">FunWithPixels</a></li>
</ul>