{
  "$jason": {
    "body": {
      "header": {
        "title": "Stellar Invictus"
      },
      "background": {
        "type": "html",
        "url": "https://stellar-invictus.com"
      }
    }
  }
}
