<div class="card black-card overview-card">
  <h5 class="card-header"><%= I18n.t('game.locations') %></h5>
  <div class="card-body">
    <table class="table table-striped table-bordered table-sm">
      <thead>
        <tr>
          <th id="img-td"></td>
          <th>Name</td>
          <th><%= I18n.t('game.type') %></td>
          <th id="btn-td"></td>
        </tr>
      </thead>
      <tbody>
        <% @current_user.system.locations.each do |location| %>
          <% next if location == @current_user.location %>
          <%= render partial: 'game/location', locals: {location: location} %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>