<table class="table table-striped table-bordered table-sm">
  <thead>
    <tr>
      <th id="img-td"></td>
      <th>Name</td>
      <th style="width:100px"><%= I18n.t('game.type') %></td>
      <th id="btn-td" style="<%= 'width:73px' if current_user.fleet %>"></td>
    </tr>
  </thead>
  <tbody>
    <% locations.each do |location|
         next if !location.scan_visible?(current_user) %>
      <%= render partial: 'game/location', locals: {location: location} %>
    <% end %>
  </tbody>
</table>