<h5 class="card-header">
  <div class="row">
    <div class="col-md-3 text-center">
      <i class="fa fa-dollar-sign"></i> <%= current_user.units %>
    </div>
    <div class="col-md-3 text-center">
      <i class="fa fa-boxes"></i> <%= current_user.active_spaceship.get_weight %> / <%= current_user.active_spaceship.get_attribute('storage') %>
    </div>
  </div>
</h5>