<h5 class="card-header">
  <div class="row">
    <div class="col-6 col-md-3 text-center">
      <i class="fa fa-dollar-sign"></i>&nbsp;&nbsp;<%= current_user.units %>
    </div>
    <div class="col-6 col-md-3 text-center">
      <i class="fa fa-boxes"></i>&nbsp;&nbsp;<%= current_user.active_spaceship.get_weight %> / <%= current_user.active_spaceship.get_storage_capacity %>
    </div>
    <div class="col-6 col-md-3 text-center">
      <i class="fa fa-gem"></i>&nbsp;&nbsp;<%= current_user.active_spaceship.get_septarium %>
    </div>
  </div>
</h5>