<div class="row">
  <div class="col-md-6 row mobile-mb-10">
    <div class="col-6 player-space-ship">
      <%= image_tag("ships/#{current_user.active_spaceship.image}.png") %>
    </div>
    <div class="col-6 text-left">
      <div class="mt-5px">
        <span>HP: <%= current_user.active_spaceship.hp %></span><br>
        <span>ARMOR: <%= current_user.active_spaceship.armor %></span><br>
        <span>POWER: <%= current_user.active_spaceship.power %></span>
      </div>
    </div>
  </div>
  <div class="col-md-6 row">
    <div class="col-6 player-space-ship">
        
    </div>
    <div class="col-6 text-left">
      <div class="mt-5px">
        
      </div>
    </div>
  </div>
</div>