<% unless current_user.corporation %>
  <div class="card black-card">
    <h5 class="card-header">Create A Corporation Now!</h5>
    <div class="card-body">
      <p>Being part of a corporation is key in taking part of the Stellar Invicuts Universe.</p><br>
      <p>A corporation allows you to band together with your friends, form an identity and accept mercenary contracts. Corporations also have their own chat channel and can build stations in low security space!</p>
    </div>
  </div>
<% end %>