<table class="table table-striped table-bordered friends-search-table">
  <tbody>
    <% users.each do |user| %>
      <tr>
        <td>
          <%= image_tag("avatars/#{user.avatar}.jpg", class: 'float-left') %>
          <div class="float-right">
            <button class="btn btn-outline-primary player-modal" data-id="<%= user.id %>"><i class="fa fa-info"></i></button>
          </div>
          <%= user.full_name %><br>
          <%= online_status(user) %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>