<div class="card black-card ship-inventory-card">
  <h4 class="card-header"><%= I18n.t('ships.inventory') %></h4>
  <div class="card-body">
    <table class="table table-bordered table-hover table-sm">
      <thead>
        <tr>
          <th scope="col">Qty.</th>
          <th scope="col"><%= I18n.t('items.name') %></th>
          <th scope="col"><%= I18n.t('items.type') %></th>
        </tr>
      </thead>
    </table>
  </div>
</div>