// Target

.target-flash {
  -moz-animation: target-flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: target-flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: target-flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes target-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 136, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes target-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 136, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-moz-keyframes target-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 136, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-ms-keyframes target-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 136, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

// ATTACK

.attack-flash {
  -moz-animation: attack-flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: attack-flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: attack-flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes attack-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes attack-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-moz-keyframes attack-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-ms-keyframes attack-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(255, 0, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

// HELP

.help-flash {
  -moz-animation: help-flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: help-flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: help-flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes help-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 148, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes help-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 148, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-moz-keyframes help-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 148, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-ms-keyframes help-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 0, 148, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

// Flash Danger Outline

.btn-outline-flash-danger {
  background-color: transparent;
  border: 1px solid grey;

  -moz-animation: attack-outline-flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: attack-outline-flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: attack-outline-flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes attack-outline-flash {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

@-webkit-keyframes attack-outline-flash {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

@-moz-keyframes attack-outline-flash {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

@-ms-keyframes attack-outline-flash {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: red;
    color: red;
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

// SUCCESS FLASH

.success-flash {
  -moz-animation: success-flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: success-flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: success-flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes success-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes success-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-moz-keyframes success-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-ms-keyframes success-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(0, 255, 0, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

// Flash Success Outline

.btn-outline-flash-success {
  background-color: transparent;
  border: 1px solid grey;

  -moz-animation: outline-flash-success 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: outline-flash-success 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: outline-flash-success 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes outline-flash-success {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: rgba(0, 255, 0, 0.5);
    color: rgba(0, 255, 0, 0.5);
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

@-webkit-keyframes outline-flash-success {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: rgba(0, 255, 0, 0.5);
    color: rgba(0, 255, 0, 0.5);
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

@-moz-keyframes outline-flash-success {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: rgba(0, 255, 0, 0.5);
    color: rgba(0, 255, 0, 0.5);
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

@-ms-keyframes outline-flash-success {
  0% {
    border-color: grey;
    color: grey;
  }
  50% {
    border-color: rgba(0, 255, 0, 0.5);
    color: rgba(0, 255, 0, 0.5);
  }
  100% {
    border-color: grey;
    color: grey;
  }
}

// Chat Flash

.chat-flash {
  -moz-animation: chat-flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: chat-flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: chat-flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes chat-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(105, 105, 105, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-webkit-keyframes chat-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(105, 105, 105, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-moz-keyframes chat-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(105, 105, 105, 0.5);
  }
  100% {
    background-color: transparent;
  }
}

@-ms-keyframes chat-flash {
  0% {
    background-color: transparent;
  }
  50% {
    background-color: rgba(105, 105, 105, 0.5);
  }
  100% {
    background-color: transparent;
  }
}
