.flash {
  -moz-animation: flash 1s ease-out;
  -moz-animation-iteration-count: infinite;

  -webkit-animation: flash 1s ease-out;
  -webkit-animation-iteration-count: infinite;

  -ms-animation: flash 1s ease-out;
  -ms-animation-iteration-count: infinite;
}

@keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: rgba(255,136,0,0.5); }
    100% { background-color: transparent; }
}

@-webkit-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: rgba(255,136,0,0.5); }
    100% { background-color: transparent; }
}

@-moz-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: rgba(255,136,0,0.5); }
    100% { background-color: transparent; }
}

@-ms-keyframes flash {
    0% { background-color: transparent; }
    50% { background-color: rgba(255,136,0,0.5); }
    100% { background-color: transparent; }
}