// Background Image
body {
    background-image: image-url('space-background-blur.jpg');
    background-size: cover;
    background-repeat: no-repeat;
}
.grid-bg {
    height: calc(100vh - 30px);
    background: image-url('space-background-grid.png') repeat center top;
}

// Helpers
.display-inline {
    display: inline;
}
.display-inline-block {
    display: inline-block;
}
.mt-1rem {
    margin-top: 1rem;
}
.mb-0 {
    margin-bottom: 0;
}

// Navbar
.navbar-brand {
    padding: 0;
}
.navbar-brand img {
    margin-left: -20px;
    margin-top: -5px;
    height: 45px;
}

// Footer
body {
    padding-bottom: 30px;
    min-height: 100vh;
}
footer {
    padding: 5px;
    left: 0;
    position: absolute;
    bottom: 0;
    background-color: #073642 !important;
    width: 100%;
}

// Login
.card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// Cards
.card-header {
    background-color: #233F48;
}
.card-body {
    background-color: #28424A;
}

// Errors
.field_with_errors {
    border: 2px solid #CB4B16;
    border-radius: 5px;
}