html {
  background: image-url('space-background-grid.png') repeat center top, image-url('space-background-blur.jpg') no-repeat;
}

// ###############
// Helpers
// ###############
.display-inline { display: inline; }
.display-inline-block { display: inline-block !important; }
.mt-1rem { margin-top: 1rem; }
.mb-0 { margin-bottom: 0; }
.bg-black { background-color: black; }
.color-sec-high { color: rgba(81, 203, 238, 1); }
.width-max { width: 100%; }

// Navbar
.navbar-brand {
  padding: 0;
}
.navbar-brand img {
  margin-left: -20px;
  margin-top: -5px;
  height: 45px;
}

// ###############
// Footer
// ###############
body {
  padding-bottom: 75px;
  min-height: 100vh;
  background-color: transparent;
  position: relative;
}
#footer {
  padding: 5px;
  left: 0;
  bottom: 0;
  max-height: 75px;
  position: absolute;
  background-color: #060606 !important;
  width: 100%;
  border-top: 1px solid #282828;
}
a {
  color: white;
}

// ###############
// Login
// ###############
.card-center {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

// ###############
// Errors
// ###############
.field_with_errors {
  border: 2px solid #CC0000;
  border-radius: 5px;
}

// ###############
// Game
// ############### 
.system-card {
  background-image: image-url('space-background.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  border: 1px solid black;
  h4 .text-span {
    padding: 5px 10px 5px 10px;
    margin-left: 0.5rem;
    display: inline-block;
  }
  h4:last-of-type {
    margin-bottom: 0px;
  }
}
.black-card {
  color: white;
  background: rgba(0,0,0,0.75);
  border: 1px solid grey;
  .card-header {
    border-bottom: 1px solid grey;
  }
}
.jumpgate-card, .player-card {
  background-color: black;
  color: white;
  img {
    width: 40px;
  }
  a {
    margin-top: 2px;
  }
  h5 {
    margin-bottom: 0;
  }
}