// ##############
// Home
// ##############
.full-display {
  background: image-url('space-full-home2.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: calc(100vh - 57px);
  align-items: stretch;
  display: flex;
  flex-direction: column;
  .body {
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    .btn-xl {
      width: 240px;
    }
  }
  .play-logo {
    display: none;
    img { height: 75px; }
  }
}

.btn-xl {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}

@media (max-width: 767px) {
  .section h2 {
    font-size: 40px;
  }
  .section h5 {
    font-size: 20px;
  }
  .full-display .title {
    font-size: 45px;
  }
  .full-display h3 {
    font-size: 20px;
  }
  .play-logo {
    display: block !important;
  }
}

.section {
  &.one {
    background: image-url('home/space-full-home-2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  &.two {
    background: image-url('home/space-full-home-3.jpg');
    background-repeat: no-repeat;
    background-size: cover;
  }
  padding-left: 0;
  padding-right: 0;
  align-items: stretch;
  display: flex;
  flex-direction: column;
  .body {
    .row {
      padding-top: 3rem;
      padding-bottom: 3rem;
      .card {
        height: 100%;
        .card-body {
          img { 
            width: 100%;
            &.border-round {
              border-left: 1px solid grey;
              border-top: 1px solid grey;
              border-right: 1px solid grey;
            }
          }
        }
      }
    }
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
  }
}

.section:before {
    position: relative;
    top: -1px;
    content: "";
    display: block;
    width: 100%;
    height: 2px;
    background: #fff;
    box-shadow: 0px 0px 10px 1px #fff;
    z-index: 100;
}