// ##############
// Home
// ##############
.full-display {
  background: image-url('space-full-home.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: calc(100vh - 89px);
  align-items: stretch;
  display: flex;
  flex-direction: column;
  .body {
    align-content: center;
    flex-wrap: wrap;
    align-items: center;
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    padding: 3rem 1.5rem;
    .btn-xl {
      width: 240px;
    }
  }
}

.btn-xl {
  padding: 0.5rem 2rem;
  font-size: 1.5rem;
  line-height: 1.5;
}