<p>Welcome to Stellar Invictus, <%= @email %>!</p>

<p>You can confirm your account email and start playing through the link below:</p>

<p><%= link_to 'Confirm my account', confirmation_url(@resource, confirmation_token: @token), class: 'button' %></p>
