<div class="card black-card">
  <h5 class="card-header"><%= I18n.t('community.forum') %></h5>
  <div class="card-body text-center">
    <%= link_to "#{I18n.t('community.forum')} <i class='fa fa-arrow-right'></i>".html_safe, "/forum", class: 'btn btn-primary' %>
  </div>
</div>