<% if (flash[:notice] || notice) %>
  <p class="alert alert-warning" style="<%= 'margin-bottom:0' if current_page?(root_path)%>">
    <%= flash[:notice] %>
  </p>
<% end %>
<% if (flash[:alert] || alert) %>
  <p class="alert alert-danger" style="<%= 'margin-bottom:0' if current_page?(root_path)%>">
    <%= flash[:alert] %>
  </p>
<% end %>