<% if (flash[:notice] || notice) and !current_page?(root_path) %>
  <p class="alert alert-warning">
    <%= flash[:notice] %>
  </p>
<% end %>
<% if (flash[:alert] || alert) and !current_page?(root_path) %>
  <p class="alert alert-danger">
    <%= flash[:alert] %>
  </p>
<% end %>