<footer id="footer" data-turbolinks-permanent>
  <div class="container">
    <div class="row">
      <div class="col-md-4 col-5 text-md-left">
        <%= link_to I18n.t('game.more'), credits_path %> / <a href="https://soundcloud.com/stellardrone" target="_blank"><%= I18n.t('game.music') %></a>
      </div>
      <div class="col-md-4 col-7 text-md-center text-right">
        <span id="server_time"><%= I18n.t('chat.server_time') %> </span>
      </div>
      <div class="col-md-4 text-md-right mobile-display-none">
        Made with <i class="fa fa-heart fa-xs"></i> by <a href="http://timlange.me" target="_blank">Tim Lange</a>
      </div>
    </div>
  </div>
</footer>