<footer class="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-4 text-left">
        <%= link_to 'Credits', credits_path %>
      </div>
      <div class="col-md-4 text-center">
        Copyright, 2018 Stellar Invictus
      </div>
      <div class="col-md-4 text-right">
        Made with <i class="fa fa-heart fa-xs"></i> by <a href="http://timlange.me" target="_blank">Tim Lange</a>
      </div>
    </div>
  </div>
</footer>