<!-- Already Logged In Modal -->
<div class="modal fade" id="already-logged-in-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title"><%= I18n.t('modal.already_logged_in') %></h5>
      </div>
      <div class="modal-body">
        <%= I18n.t('modal.already_logged_in_text') %>
      </div>
    </div>
  </div>
</div>